.bracket {color:blue;}
.tag {color:green;}
.bracketC {color:lightBlue;}
.tagC {color:lightGreen;}
.text {color:black;}
.comment {color:gray;}
.listElement {list-style-type:none;}
.attrName {color:darkGreen;}
.attrValue {color:blue;}
